.space {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Nav */
header {
    background-color: #000000;
}

.support {
    padding: 20px 0px 20px 0px;
    color: white;
}

.support li {
    padding: 0px 5px 0px 5px;
}

.icono li {
    padding: 14px;
    font-size: 24px;
    float: left;
    list-style-type: none;
}

header a { 
    color: white;
}

/* Banner */
.home_banner {
    background-image: url(./img/negocio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.space_banner {
    border-radius: 5px;
    margin-top: 150px;
    padding: 20px;
    background: #ffffff94;
    color: black;
  
}

.home_banner h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.home_banner p {
    margin: 15px 0 10px;
}

.btn-primary {
    background-color: #0088ff;
    border-color: #0088ff;
}

.button {
    color: #000000;
    background-color: #9f797900;
    border-color: #000000;
}

.button:hover {
    color: #000000;
    background-color: white;
}

/* NavBar */
.navbar {
    margin-bottom: 0px !important;
    border: none !important;
}

/* Services */
.card {
    padding: 12px;
    width: 98%;
    border: 1px solid #777;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.services {
    margin: 20px auto 0px;
    padding-top: 15px;
    width: 74px;
    height: 75px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgb(255 253 253 / 20%), 0 6px 20px 0 rgb(68 68 68);
    background-color: rgb(0 136 255);
}

.card p {
    padding: 10px !important;
    color:#4f5251;
}

/* Information */

.color {
    background-color: #d8edff;
}

.line h3 {
    color: #0088ff;
}

.line h3::after {
    content: "";
    margin: 1px;
    position: absolute;
    height: 2px;
     width: 28px;
    background-color: #6e6969;
    top: 32px;
    right: 0px;
}

/* Footer */
.experience {
    position: relative;
    margin: 90px auto;
    width: 38%;
}

.logo {
    padding-top: 15px;
    width: 375px;
    height: 375px;
    text-align: center;
    border-radius: 50%;
    color: #0088ff;
    box-shadow: 0 4px 8px 0 rgb(255 253 253 / 20%), 0 6px 20px 0 rgb(68 68 68), -100px -50px;
}

.logo h1 {
    font-size: 170px;
}

.logo h2 {
    color: #3a3a3a;
}

.circle {
    position: absolute;
    top: 0px;
    right: -200px;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    box-shadow: 0 6px 20px 0 rgb(99 127 152);
    background-color: #0088ff;
}

.circle2 {
    position: absolute;
    top: 130px;
    right: -200px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 6px 20px 0 rgb(99 127 152);
    background-color: rgb(0 136 255);
}

.word {
    margin: 90px auto;
}

.word h3{
    color: #0088ff;
}

@media(min-width: 1200px) {
    
    .card {
        height: 360px;
    }

    .line h3::after {
        width: 45px;
    }
}

@media(max-width: 992px) {

    .line h3::after {
        width: 20px;
        right: -7px;
    }

    .logo {
        width: 230px;
        height: 230px;
    }

    .logo h1{
        font-size: 90px;
    }

    .logo h2{
       font-size: 22px;
    }

    .circle {
        right: -135px;
    }
    
    .circle2 {
        right: -135px;
    }

    .word h4 {
        font-size: 15px;
    }
}

@media(max-width: 768px) {

     /* Nav */
    .support {
        text-align: center;
        padding: 5px 0px 5px 0px;
    }

    .icono {
        margin: auto;
        width: 240px;   
        float: none !important;  
    }

    .icono li {
        padding: 10px;
        font-size: 20px;
    }

    .space_banner {
        margin-top: 100px;
        margin-right: 12px;
        padding: 10px;
    }

    .btn-banner {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    /* Card */
    .card {
        padding: 5px;
        margin-bottom: 25px;
        width: 100%;
    }

    .line h3::after {
        width: 18px;
        right: -7px;
    }

    /* Footer */
    .logo {
        width: 207px;
        height: 210px;
    }
    
    .logo h1{
        font-size: 36px;
    }

    .logo h2{
       font-size: 24px;
    }

    .circle {
        width: 0px;
        height: 0px;
    }
    
    .circle2 {
        width: 0px;
        height: 0px;
    }

    .word h4 {
        font-size: 12px;
    }
}

@media(max-width: 425px) {

    .logo {
        width: 150px;
        height: 150px;
    }
    
    .logo h2{
       font-size: 15px;
    }

}

@media(max-width: 320px) {

    .card h2{
        font-size: 25px;
    }
    
    .button {
        margin-top: 10px; 
    }

    .line h3::after {
        width: 15px;
        right: -10px;
    }

    .word h3 {
        font-size: 16px;
    }

    .word h4 {
        font-size: 10px;
    }

}